<!doctype html>
<html class="no-js" lang="" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>
<body>
<div class="content is-not-actor-loaded">
    <div id="app">

    </div>
    <header>
        <div id="actor_search">
            <form v-on:submit.prevent="submit" @keydown="change_index">
                <input id="search_field" type="text" v-model="search_term" @keyup="changed" autocomplete="off">
                <label for="search_field">Search</label>
                <div class="results">
                    <ul>
                        <li v-for="(actor, index) in search_results"
                            v-bind:class="{ 'is-active': index==selected_actor }"
                            v-on:click="result_click(index)"
                            v-on:mouseover="goToSearchIndex(index)"
                        >
                            <div class="actor-result" v-html="actor.highlighted_name"></div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </header>
    <main>
        <div id="actor-view">
            <div class="actor-data">
                <h1 class="actor-name">{{actor_data.fname}}, {{actor_data.lname}}</h1>
                <div class="actor-info">
                    <div class="average">{{average() | round(1)}}</div>
                    <div v-if="top_billing_average(1)" class="first_billing_average-wrapper">
                        <span>First Billing Average:</span>
                        <span class="first_billing_average">{{top_billing_average(1) | round(1)}}</span>
                    </div>
                    <div v-if="top_billing_average(5)" class="top-5_billing_average-wrapper">
                        <span>Top 5 Billing Average:</span>
                        <span class="top-5_billing_average">{{top_billing_average(5) | round(1)}}</span>
                    </div>
                </div>
                <div class="genre-rating-list">
                    <h2 class="genre-rating-title">Rating by Genre</h2>
                    <table>
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th class="genre-name-head">Genre</th>-->
                            <!--<th class="genre-rating-head">Rating</th>-->
                            <!--<th class="genre-film_count-head">Film Count</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <tbody>
                        <tr v-for="genre in actor_genre_rating">
                            <td class="genre-name"><span>{{genre.name}}</span></td>
                            <td class="genre-rating">
                                <span>{{genre.rating | round(1)}}</span>
                                <div class="genre-rating-bar">
                                    <div class="genre-rating-bar-inside"
                                         v-bind:style="{ width:( genre.rating * 10  )+'%' }">
                                    </div>
                                </div>
                            </td>
                            <td class="genre-film_count">film count: <span>{{genre.cnt}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="movies">
                    <h2 class="movies-title">All movies rating</h2>
                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Votes</th>
                            <th>Year</th>
                            <th>Role</th>
                            <th>B.P.</th>
                            <th>Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="movie in actor_movies">
                            <td class="movie-name">{{movie.name}}</td>
                            <td class="movie-votes">{{movie.votes}}</td>
                            <td class="movie-year">{{movie.year}}</td>
                            <td class="movie-role">{{movie.role}}</td>
                            <td class="movie-billing_position">{{movie.billing_position}}</td>
                            <td class="movie-rating">{{movie.rating}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<!--<script src="https://unpkg.com/vue"></script>-->
<script src="js/vendor/vue.js"></script>
<script src="js/app.js"></script>
<script src="js/search_field.js"></script>
<script src="js/actor_view.js"></script>
<script src="js/main.js"></script>
</body>
</html>
